.carousel-item>.p-relative>.row>.text-white> h2, h1{
    color: #d1d1d1;
}
.bg-mavi{
    background-color: #0088cc !important;
}
.bg-kırmızı{
    background-color: #a90432 !important;
}
.text-mavi{
    color: #0088cc !important;
}
.divider-kırmızı{
    color: #a90432 !important;
}